body {
    max-width: 1000px;
    margin: 0 auto;
    /* CSS3 feature - we use this because we don't want content-base box sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Overpass Mono', monospace;
    background-color: #FCF7E1;
}

a, a:visited {
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #36424a;
    padding: 16px;
}

nav > ul > li {
    display: inline;
}

nav > ul > li > a {
    padding: 16px;
    font-size : 1.2em;
    text-decoration: none;
}

.main-title, .sub-title {
    font-family: 'Indie Flower', cursive;
}

.main-title {
    font-size: 2.75em;
}

.top-row {
    margin: 0 auto;
    text-align: center;
}

.main-image {
    width: 100%;
    margin: 0 auto;
}

.bottom-row {
    display: inline-block;
    width: 40%;
}

footer {
    border-top: solid black 1px;
}